{% extends 'header.html' %}
{% block main %}
<h3 style="text-align: center; margin-top: 20px;">Cotton</h3>
<div style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap; margin-bottom: 40px;">
    <div style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; overflow: hidden;">
        <iframe width="400" height="315" src="https://www.youtube.com/embed/eN-TqqBQOAk?si=9ZKjF9qHfIZc84mr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; overflow: hidden;">
        <iframe width="400" height="315" src="https://www.youtube.com/embed/lCidlr_pbI4?si=NbxhsmKHtmipIT3N" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; overflow: hidden;">
        <iframe width="400" height="315" src="https://www.youtube.com/embed/QHgNoSYlhYs?si=gUVIViTxaucTe-Ov" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
<h3 style="text-align: center; margin-top: 20px;">Paddy</h3>
<div style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap;">
    <div style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; overflow: hidden;">
        <iframe width="400" height="315" src="https://www.youtube.com/embed/FSABgTZVy_g?si=wCTUZX3R_eT2n5_d" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; overflow: hidden;">
        <iframe width="400" height="315" src="https://www.youtube.com/embed/FW_bw9jdrlQ?si=YJGFyPOkH-NFNx9B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; overflow: hidden;">
        <iframe width="400" height="315" src="https://www.youtube.com/embed/R5dWFUttKLw?si=CdBgtAq0cNKkzfgG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
